header.main-header
  .container
    nav.main-nav
      .logo
        .logo__wrapper
          .logo__img
            a.logo__link(href="index.html")
              picture
                source(media="(min-width:768px)" srcset="image/icons/logo4x.webp")
                source(media="(min-width:320px)" srcset="image/icons/logo2x.webp")
                source(media="(min-width:768px)" srcset="image/icons/logo4x.png")
                source(media="(min-width:320px)" srcset="image/icons/logo2x.png")
                img(src="image/icons/logo2x.png" alt="logo")

      ul.main-nav__list
        li.main-nav__item
          a.main-nav__link.f-srg(href="index.html") Главная
        li.main-nav__item
          a.main-nav__link.f-srg(href="courses.html") Курсы
        li.main-nav__item
          a.main-nav__link.f-srg(href="dates.html") Расписание
        li.main-nav__item
          a.main-nav__link.f-srg(href="speakers.html") Преподаватели
        li.main-nav__item
          a.main-nav__link.f-srg(href="emails.html") Рассылка
        li.main-nav__item
          a.main-nav__link.f-srg(href="contacts.html") Контакты

      .sign
        button.btn.btn-primary.btn-sign(type="button") Зайти в кабинет

    .main-header__date.conb
      .main-header__date-wrapper
        h1.f-bbw
          | Первый курс
          br
          | по компьютерной сборке
        .time-date
          .time-date__wrapper
            p.number.f-mb 12
            p.f-srg Дней
          .time-date__wrapper
            p.number.f-mb 12
            p.f-srg Часов
          .time-date__wrapper
            p.number.f-mb 12
            p.f-srg Минут
          .time-date__wrapper
            p.number.f-mb 12
            p.f-srg Секунд

