header.main-header
  nav.main-nav
    .logo
      .logo__wrapper
        .logo__img
          <svg class="">
            <use xlink:href="#logo"></use>
          </svg>
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link(href="") Главная
      li.main-nav__item
        a.main-nav__link(href="#") Курсы
      li.main-nav__item
        a.main-nav__link(href="#") Расписание
      li.main-nav__item
        a.main-nav__link(href="#") Преподаватели
      li.main-nav__item
        a.main-nav__link(href="#") Рассылка
      li.main-nav__item
        a.main-nav__link(href="#") Контакты

    .sign
       button.btn.btn-primary(type="button") Зайти в кабинет
