.parthners.conb
  .parthners__wrapper
    .parthners__head
      picture
        source(media="(min-width:768px)" srcset="image/icons/start4x.webp")
        source(media="(min-width:320px)" srcset="image/icons/start2x.webp")
        source(media="(min-width:768px)" srcset="image/icons/start4x.png")
        source(media="(min-width:320px)" srcset="image/icons/start2x.png")
        img(src="image/icons/start2x.png" alt="start")
      h2.f-bb Партнеры - топовые бренды
    .parthners__logos
      .parthners__logo
        picture
          source(media="(min-width:320px)" srcset="image/icons/brands.webp")
          source(media="(min-width:320px)" srcset="image/icons/brands.png")
          img(src="image/icons/brands.png" alt="brands")
      .parthners__logo
        picture
          source(media="(min-width:320px)" srcset="image/icons/brands.webp")
          source(media="(min-width:320px)" srcset="image/icons/brands.png")
          img(src="image/icons/brands.png" alt="brands")
      .parthners__logo
        picture
          source(media="(min-width:320px)" srcset="image/icons/brands.webp")
          source(media="(min-width:320px)" srcset="image/icons/brands.png")
          img(src="image/icons/brands.png" alt="brands")
      .parthners__logo
        picture
          source(media="(min-width:320px)" srcset="image/icons/brands.webp")
          source(media="(min-width:320px)" srcset="image/icons/brands.png")
          img(src="image/icons/brands.png" alt="brands")
      .parthners__logo
        picture
          source(media="(min-width:320px)" srcset="image/icons/brands.webp")
          source(media="(min-width:320px)" srcset="image/icons/brands.png")
          img(src="image/icons/brands.png" alt="brands")
      .parthners__logo
        picture
          source(media="(min-width:320px)" srcset="image/icons/brands.webp")
          source(media="(min-width:320px)" srcset="image/icons/brands.png")
          img(src="image/icons/brands.png" alt="brands")
      .parthners__logo
        picture
          source(media="(min-width:320px)" srcset="image/icons/brands.webp")
          source(media="(min-width:320px)" srcset="image/icons/brands.png")
          img(src="image/icons/brands.png" alt="brands")
      .parthners__logo
        picture
          source(media="(min-width:320px)" srcset="image/icons/brands.webp")
          source(media="(min-width:320px)" srcset="image/icons/brands.png")
          img(src="image/icons/brands.png" alt="brands")
