.parthners.conb
  .parthners__wrapper
    .parthners__head
      picture
        source(media="(min-width:768px)" srcset="image/icons/start4x.webp")
        source(media="(min-width:320px)" srcset="image/icons/start2x.webp")
        source(media="(min-width:768px)" srcset="image/icons/start4x.png")
        source(media="(min-width:320px)" srcset="image/icons/start2x.png")
        img(src="image/icons/start2x.png" alt="start")
      h2.f-bb Партнеры - топовые бренды
    .parthners__logos
        .parthners__logo
          picture
            source(media="(min-width:320px)" srcset="image/icons/logo-sandisk.webp")
            source(media="(min-width:320px)" srcset="image/icons/logo-sandisk.png")
            img(src="image/icons/logo-sandisk.png" alt="logo-sandisk")
        .parthners__logo
          picture
            source(media="(min-width:320px)" srcset="image/icons/logo-liteon.webp")
            source(media="(min-width:320px)" srcset="image/icons/logo-liteon.png")
            img(src="image/icons/logo-liteon.png" alt="logo-liteon")
        .parthners__logo
          picture
            source(media="(min-width:320px)" srcset="image/icons/logo-ati.webp")
            source(media="(min-width:320px)" srcset="image/icons/logo-ati.png")
            img(src="image/icons/logo-ati.png" alt="logo-ati")
        .parthners__logo
          picture
            source(media="(min-width:320px)" srcset="image/icons/logo-krok.webp")
            source(media="(min-width:320px)" srcset="image/icons/logo-krok.png")
            img(src="image/icons/logo-krok.png" alt="logo-krok")
        .parthners__logo
          picture
            source(media="(min-width:320px)" srcset="image/icons/logo-oracle.webp")
            source(media="(min-width:320px)" srcset="image/icons/logo-oracle.png")
            img(src="image/icons/logo-oracle.png" alt="logo-oracle")
        .parthners__logo
          picture
            source(media="(min-width:320px)" srcset="image/icons/logo-gigabyte.webp")
            source(media="(min-width:320px)" srcset="image/icons/logo-gigabyte.png")
            img(src="image/icons/logo-gigabyte.png" alt="logo-gigabyte")
        .parthners__logo
          picture
            source(media="(min-width:320px)" srcset="image/icons/logo-powercolor.webp")
            source(media="(min-width:320px)" srcset="image/icons/logo-powercolor.png")
            img(src="image/icons/logo-powercolor.png" alt="logo-powercolor")
        .parthners__logo
          picture
            source(media="(min-width:320px)" srcset="image/icons/logo-radeon.webp")
            source(media="(min-width:320px)" srcset="image/icons/logo-radeon.png")
            img(src="image/icons/logo-radeon.png" alt="logo-radeon")
