.productsSlider
    .productsSlider__wrapper
        .productsSlider__slide-wrapper
            .productsSlider__slide
                h1 Hp
                .productsSlider__slide-description
                    p.f-sr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
                .productsSlider__img-wrapper
                    img(src="image/content/videocard1.png", alt="")
            .productsSlider__slide
                h1 Lenovo
                .productsSlider__slide-description
                     p.f-sr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
                .productsSlider__img-wrapper
                    img(src="image/content/videocard2.png", alt="")
            .productsSlider__slide
                h1 MacOs
                .productsSlider__slide-description
                     p.f-sr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
                .productsSlider__img-wrapper
                    img(src="image/content/videocard3.png", alt="")
        .productsSlider__button-prev
        .productsSlider__button-next
