.productsSlider
    .productsSlider__wrapper
        .productsSlider__slide-wrapper
            .productsSlider__slide
                .productsSlider__slide-wrapper
                    .productsSlider__slide-description
                            h2 Hp
                            p.f-sr 1 Hp ipsum dolor sit amet, consectetur adipiscing elit.
                            button(type="button").btn.btn-success Узнать больше
                    .productsSlider__img-wrapper
                        img(src="image/content/videocard1.png", alt="")
            .productsSlider__slide
                .productsSlider__slide-wrapper
                    .productsSlider__slide-description
                            h2 Lenovo
                            p.f-sr 2 Lenovo ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
                            button(type="button").btn.btn-success Узнать больше
                    .productsSlider__img-wrapper
                        img(src="image/content/videocard2.png", alt="")
            .productsSlider__slide
                .productsSlider__slide-wrapper
                    .productsSlider__slide-description
                        h2 MacOs
                        p.f-sr MacOs ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
                        button(type="button").btn.btn-success Узнать больше
                    .productsSlider__img-wrapper
                        img(src="image/content/videocard3.png", alt="")
            .productsSlider__button-prev
            .productsSlider__button-next
