.productsSlider
    .productsSlider__wrapper
        .productsSlider__slide-wrapper
            .productsSlider__slide
                .productsSlider__slide-wrapper
                    .productsSlider__slide-description
                            p.f-mb Видеокарта Gigabyte GeForce RTX 2060 6 ГБ (GV-N2060D6-6GD)
                            p.f-sr.min Видеокарта GIGABYTE GeForce RTX 2060 D6 сочетает в себе компактность и высокий уровень производительности. Видеоадаптер, длина которого равна лишь 225.65 мм, может быть смонтирован в компактный корпус.
                            p.f-sr Видеокарта GIGABYTE GeForce RTX 2060 D6 сочетает в себе компактность и высокий уровень производительности. Видеоадаптер, длина которого равна лишь 225.65 мм, может быть смонтирован в компактный корпус. Главное предназначение видеокарты – достижение высокого уровня скорости обработки трехмерной графики в играх. Модель занимает 2 слота расширения. Особых требований с точки зрения энергопотребления также нет: видеокарта характеризуется максимальной потребляемой мощностью, составляющей 160 Вт. Вам будет нужен блок питания, номинальная выходная мощность которого не менее чем 500 Вт.
                            button(type="button") Подробнее
                    .productsSlider__img-wrapper
                        img(src="image/content/videocard1.png", alt="")
                        .productsSlider__cost
                            span.seller 20 000P
                            span.sellerNew 12 000P
                            span.different 20%
                            button(type="button") В корзину

            .productsSlider__slide
                .productsSlider__slide-wrapper
                    .productsSlider__slide-description
                            p.f-mb Видеокарта Inno3D GeForce RTX 3060 Ti 8 ГБ (N306T3-08D6X-1190VA32D)
                            p.f-sr.min Видеокарта Inno3D GeForce RTX 3060 Tiсочетает в себе компактность и высокий уровень производительности. Видеоадаптер, длина которого равна лишь 225.65 мм, может быть смонтирован в компактный корпус.
                            p.f-sr Видеокарта Inno3D GeForce RTX 3060 сочетает в себе компактность и высокий уровень производительности. Видеоадаптер, длина которого равна лишь 225.65 мм, может быть смонтирован в компактный корпус. Главное предназначение видеокарты – достижение высокого уровня скорости обработки трехмерной графики в играх. Модель занимает 2 слота расширения. Особых требований с точки зрения энергопотребления также нет: видеокарта характеризуется максимальной потребляемой мощностью, составляющей 160 Вт.
                            button(type="button") Подробнее
                    .productsSlider__img-wrapper
                        img(src="image/content/videocard2.png", alt="")
                        .productsSlider__cost
                            span.seller 20 443P
                            span.sellerNew 12 999P
                            span.different 15%
                            button(type="button") В корзину

            .productsSlider__slide
                .productsSlider__slide-wrapper
                    .productsSlider__slide-description
                        p.f-mb Видеокарта Inno3D 8 ГБ (C306T3-08D6X-1671VA39H)
                        p.f-sr.min Inno3D RTX 3060 Ti IChill X3 8 Гбайт Чрезвычайно быстрая и эффективная видеокарта Inno3D RTX 3060 Ti IChill X3 8 ГБ станет идеальным дополнением игровой установки.
                        p.f-sr Inno3D RTX 3060 Ti IChill X3 8 Гбайт Чрезвычайно быстрая и эффективная видеокарта Inno3D RTX 3060 Ti IChill X3 8 ГБ станет идеальным дополнением игровой установки. Эта нереференсная модель предлагает увеличенный диапазон тактовой частоты ядра до 1725 МГц, имеет продвинутую систему охлаждения и феноменальный дизайн с красной подсветкой. Если ваша видеокарта - это больше, чем просто еще один компонент, который нужно спрятать в закрытом корпусе, то Inno3D RTX 3060 Ti IChill X3 8 ГБ вам обязательно понравится.
                        button(type="button") Подробнее
                    .productsSlider__img-wrapper
                        img(src="image/content/videocard3.png", alt="")
                        .productsSlider__cost
                            span.seller 30 322P
                            span.sellerNew 15 999P
                            span.different 16%
                            button(type="button") В корзину
            .productsSlider__button-prev
            .productsSlider__button-next
