.productsSlider
    .productsSlider__wrapper
        .productsSlider__slide-wrapper
            .productsSlider__slide.productsSlider__slide-prev  Slide 122222
            .productsSlider__slide.productsSlider__slide-active  Slide 2222222
            .productsSlider__slide.productsSlider__slide-next Slide 2222222
        .productsSlider__button-prev
        .productsSlider__button-next
