.profession.conb#courses
  .profession__wrapper
    .profession__quality
      h2.f-bb Получите профессию прямо сейчас
    .profession__things
      .profession__thing
        svg(fill="#C89AFC")
          use(xlink:href="image/sprite.svg#comp")
        p.f-mbm Только практические навыки в работе
        p.f-vsrg Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
      .profession__thing
        svg(fill="#C89AFC")
          use(xlink:href="image/sprite.svg#usb")
        p.f-mbm Только практические навыки в работе
        p.f-vsrg Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
      .profession__thing
        svg(fill="#C89AFC" stroke="#C89AFC")
          use(xlink:href="image/sprite.svg#sertificate")
        p.f-mbm Только практические навыки в работе
        p.f-vsrg Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.


