.statistic.conb
  .statistic__wrapper
    .statistic__product
      picture
        source(media="(min-width:768px)" srcset="image/icons/start4x.webp")
        source(media="(min-width:320px)" srcset="image/icons/start2x.webp")
        source(media="(min-width:768px)" srcset="image/icons/start4x.png")
        source(media="(min-width:320px)" srcset="image/icons/start2x.png")
        img(src="image/icons/start2x.png" alt="start")
      h2.f-bb Быстрый старт
    p.f-srg
      | Больше 90% учеников прошли полный курс
      br
      | и смогли собрать свой первый компьютер
    .statistic__date
      .statistic__result
        p.f-mb 100%
        .statistic__progress-wrapper
          .statistic__progress-bar.one
        p.f-vsrg Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
      .statistic__result
        p.f-mb 75%
        .statistic__progress-wrapper
          .statistic__progress-bar.two
        p.f-vsrg Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
      .statistic__result
        p.f-mb 30%
        .statistic__progress-wrapper
          .statistic__progress-bar.three
        p.f-vsrg Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
      .statistic__result
        p.f-mb Итог
        .statistic__progress-wrapper
          .statistic__progress-bar.four
        p.f-vsrg Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
