.statistic.conb
  .statistic__wrapper
    .statistic__product
      picture
        source(media="(min-width:768px)" srcset="image/icons/start4x.webp")
        source(media="(min-width:320px)" srcset="image/icons/start2x.webp")
        source(media="(min-width:768px)" srcset="image/icons/start4x.png")
        source(media="(min-width:320px)" srcset="image/icons/start2x.png")
        img(src="image/icons/start2x.png" alt="start")
      h2.f-mb Быстрый старт
    p.f-srg
        | Больше 90% учеников прошли полный курс
      br
        | и смогли собрать свой первый компьютер
