.study.conb
  .study__wrapper
    .study__head
      picture
        source(media="(min-width:768px)" srcset="image/icons/start4x.webp")
        source(media="(min-width:320px)" srcset="image/icons/start2x.webp")
        source(media="(min-width:768px)" srcset="image/icons/start4x.png")
        source(media="(min-width:320px)" srcset="image/icons/start2x.png")
        img(src="image/icons/start2x.png" alt="start")
      h2.f-bb Программа обучения
      p.f-srg Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер
    .study__body
      .study__week-block
        .study__week
          p.f-vsrg Неделя №1
          p.f-sr Красивая часть курса, которая помогает в успехе
        .study__week
          p.f-vsrg Неделя №3
          p.f-sr Красивая часть курса, которая помогает в успехе
        .study__week
          p.f-vsrg Неделя №5
          p.f-sr Красивая часть курса, которая помогает в успехе
        .study__week
          p.f-vsrg Неделя №7
          p.f-sr Красивая часть курса, которая помогает в успехе
      .study__week-progress
      .study__week-block
        .study__week
          p.f-vsrg Неделя №2
          p.f-sr Красивая часть курса, которая помогает в успехе
        .study__week
          p.f-vsrg Неделя №4
          p.f-sr Красивая часть курса, которая помогает в успехе
        .study__week
          p.f-vsrg Неделя №6
          p.f-sr Красивая часть курса, которая помогает в успехе


