.success
  .success__wrapper.conb
    button.btn.btn-success(type="button") Заказать курс
    .success__static
      .static
        .static-info
          p.static-text.f-srg Учеников всего:
          p.static-numbers.f-sbw 200
        .static-info
          p.static-text.f-srg Успешно закончили курс:
          p.static-numbers.f-sbw 173
    .progress-bar
      .progress-bar__wrapper
        .progress-bar__value
          span.progress-bar__text.f-srg Заработано учениками:
          span.progress-bar__value-count.f-sbw 40 000 RUB
        .progress-bar__footer
          span.progress-bar__value-min.f-srg 0
          span.progress-bar__value-max.f-srg 1 000 000 RUB
