.success
  .success__wrapper.container
    button.btn.btn-success(type="button") Заказать курс
    .success__static
      .static
        .static-info
          p.static-text Учеников всего:
          p.static-numbers 200
        .static-info
          p.static-text Успешно закончили курс:
          p.static-numbers 200
    .progress-bar
      .progress-bar__text
        .progress-bar__info Заработано учениками:
