doctype
html(lang='en,ru').page
  include blocks/head
  block vars
  title #{title}
  body.page__body
    block header
    block main
    block footer
    block popups
    block templates
    include ../helpers/scripts
