extends ../layout/index.pug

block header
  include ../layout/sections/header
  include ../layout/sections/success-section

block main
 main.main-section.bg
  h2.secondary-heading
  include ../layout/sections/present-section
  include ../layout/sections/static
  include ../layout/sections/profession
  include ../layout/sections/parthners
block footer
  include ../layout/sections/footer
