extends ../layout/index.pug

block header
  include ../layout/sections/header
  include ../layout/sections/success-section
block main
 section.main-section
  h2.secondary-heading
  p.primary-text

block footer
  include ../layout/sections/footer
