extends ../layout/index.pug

block header
  include ../layout/sections/header
  include ../layout/sections/success-section

block main
 main.main-section.bg
  h2.secondary-heading
  include ../layout/sections/present-section
  include ../layout/sections/statistic
  include ../layout/sections/profession
  include ../layout/sections/parthners
  include ../layout/sections/study
  include ../layout/sections/speakers

block footer
  include ../layout/sections/footer
