extends ../layout/index.pug

block header
  include ../layout/sections/header

block main
 section.main-section
    .section-wrapper
      h2.secondary-heading
      p.primary-text
block footer
  include ../layout/sections/footer
