.btn {
  color: $white;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {

}

// main-navigation

.btn-sign{
  background-color: pink;
  border: none;
  border-radius: 5rem 5rem 5rem 5rem;
  background: linear-gradient(to bottom right, $btn-primary, $btn-primary1);
  padding: 1rem 3rem;
}

.burger-sign {
  display: none;
  width: 5rem;
  height: 5rem;
  padding: 0;
  background: transparent;

  svg {
    width: 3rem;
    height: 3rem;
    flex: none;
  }

  @media screen and (min-width: $mdlg) {
    display: none;
  }
}

// main-seller

.btn-success {
  background-color: pink;
  border: none;
  border-radius: 5rem 5rem 5rem 5rem;
  background: linear-gradient(to bottom right, $btn-secondary, $btn-secondary1);
  padding: 1rem 3rem;
  font-weight: 700;

  width: 50%;
  margin: 0 auto;
}

//main-biography

.btn-speaker {
  background: transparent;
  border: 0.1rem solid $white;
  border-radius: 5rem 5rem 5rem 5rem;
  padding: 1rem 3rem;
  color: $white;
}


// main-form footer

.btn-form{
  background-color: pink;
  border: none;
  border-radius: 5rem 5rem 5rem 5rem;
  background: linear-gradient(to bottom right, $btn-secondary, $btn-secondary1);
  padding: 1rem 3rem;
  font-weight: 700;
  color: $white;
}
