.btn {
  color: $white;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {

}

@keyframes btnSocialSing {
  0%  {border-right: 1px solid $white;}
  25% {border-bottom: 1px solid $white;}
  50%  {border-top: 1px solid $white;}
  75% {border-left: 1px solid $white;}
  100% {border: 1px solid $white;}

}

.btn-secondary {
  background-color: $btn-secondary2;
  background: linear-gradient(to bottom right, $btn-primary1, $btn-secondary2);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
  border: 1px solid transparent;

  @media screen and (min-width: $lg) {
    &:hover {
      animation-name: btnSocialSing;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }
}

// main-navigation

.btn-sign{
  background-color: pink;
  border: none;
  border-radius: 5rem 5rem 5rem 5rem;
  background: linear-gradient(to bottom right, $btn-primary, $btn-primary1);
  padding: 1rem 2rem;
}

.btn-socialSign { 
  border-radius: 50%;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  padding: 2rem 2rem;
}

.btn-logout{
  display: none;
}

.burger-sign {
  display: none;
  width: 5rem;
  height: 5rem;
  padding: 0;
  background: transparent;

  svg {
    width: 3rem;
    height: 3rem;
    flex: none;
  }

  @media screen and (min-width: $mdlg) {
    display: none;
  }
}

.btn-closeSign {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  background-color: transparent;

  &::after, &::before{
    display: block;
    content: '';
    position: absolute;
    background-color: $white;
    right: 0rem;
    top: 1.4rem;
    height: 0.2rem;
    width: 3rem;
  }

  &::before{
    transform: rotate(45deg);
  }

  &::after{
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: $tb) {
  .btn-closeSign:hover::before{
    transition: 0.3s ease-in-out;
    transform: rotate(-45deg);
  }

  .btn-closeSign:hover::after{
    transition: 0.3s ease-in-out;
    transform: rotate(45deg);
  }
}

// main-seller

.btn-success {
  background-color: pink;
  border: none;
  border-radius: 5rem 5rem 5rem 5rem;
  background: linear-gradient(to bottom right, $btn-secondary, $btn-secondary1);
  height: 3rem;
  font-weight: 700;
  font-size: 1.2rem;
  order: 3;
  min-width: max-content;
  padding: 0 2rem;

  @media screen and (min-width: $lg) {
    padding: 0 6rem;
    height: 5rem;
    font-size: 1.6rem;
  }

  @media screen and (min-width: $tb) {
    order: 2;
    margin: 0 auto;
  }

  @media screen and (min-width: $ds) {
    order: 2;
    margin: 0;
    padding: 0 6rem;
  }

}

//main-biography

.btn-speaker {
  background: transparent;
  border: 0.1rem solid $white;
  border-radius: 5rem 5rem 5rem 5rem;
  padding: 1rem 3rem;
  color: $white;
}


// main-form footer

.btn-form{
  background-color: pink;
  border: none;
  border-radius: 5rem 5rem 5rem 5rem;
  background: linear-gradient(to bottom right, $btn-secondary, $btn-secondary1);
  padding: 1rem 2rem;
  font-weight: 700;
  color: $white;
  position: absolute;
  height: 4.4rem;
  right: 0;
  top: 0;

  &__sm {
    display: block;
    @media screen and (min-width: $tb) {
      display: none;
    }
  }

  &__tb {
    display: none;
    @media screen and (min-width: $tb) {
      display: block;
    }
  }

  @media screen and (min-width: $tb) {
    padding: 1rem 3rem;
  }
}


// animation


.btnbg {
  background: transparent;
}
