.btn {
  color: $white;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {

}

.btn-sign{
  background-color: pink;
  border: none;
  border-radius: 5rem 5rem 5rem 5rem;
  background: linear-gradient(to bottom right, $btn-primary, $btn-primary1);
  padding: 1rem 3rem;
}

.btn-success {
  background-color: pink;
  border: none;
  border-radius: 5rem 5rem 5rem 5rem;
  background: linear-gradient(to bottom right, $btn-secondary, $btn-secondary1);
  padding: 1rem 3rem;
  font-weight: 700;
}

.btn-speaker {
  background: transparent;
  border: 0.1rem solid $white;
  border-radius: 5rem 5rem 5rem 5rem;
  padding: 1rem 3rem;
  color: $white;
}
