#login {
  position: absolute;
  display: none;
  z-index: 115;
  width: 100%;
  height: 30rem;
  top: 4.7rem;
  padding-top: 4rem;
  background: linear-gradient(to bottom right, $btn-primary, $btn-primary1);

  @media screen and (min-width: $lg) {
    top: 7.7rem;
  }
}

.login-wrappers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border:none;
  padding-top: 1.5rem;
  width: 27rem;

  input:nth-child(2), input:nth-child(4){
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    min-width: 27rem;

    @media screen and (min-width: $lg) {
        min-width: 30rem;
      }
  }

  label{
    margin-bottom: 0.5rem;
  }

  @media screen and (min-width: $lg) {
    padding-top: auto;
  }
}

#login-form{
  width: 100%;
  height: 16rem;
  display: flex;
  justify-content: center;
}
.email-wrapper{

}

.password-wrapper{
 position: relative;
}

#viewPassword{
  position: absolute;
  width: 3rem;
  height: 3rem;
  right: 0.8rem;
  top: 2.7rem;
  background: linear-gradient(to bottom right, $btn-primary, $btn-primary1);
  border-radius: 50%;

  svg {
    width: 25px;
    height: 25px;
    padding-left: 2px;
    flex: none;
    object-fit: cover;
  }
}

#showPassword {
  display: block;
}

#closePassword {
  display: none;
}

.btn-back{
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: transparent;
  left: 27rem;
  top: 0.7rem;

  @media screen and (min-width: $lg) {
    left: 30rem;
  }

  svg {
    width: 25px;
    height: 25px;
    padding-left: 2px;
    flex: none;
    object-fit: cover;
  }

  @media screen and (min-width: $lg) {
    left: 1rem;
    top: 2.7rem;
  }
}

.sign-helpers {
    .btnbg {
        min-width: 17rem;
        padding: 0;

        @media screen and (min-width: $lg) {
            min-width: auto;
            padding: auto;
          }
    }

    @media screen and (min-width: $lg) {
        justify-content: space-around;
    }
}
