.main-header {
  min-height: min-content;
  background-color: $black;
  background-image: url('../image/content/main-bg-sm.jpg');
  object-fit: contain;
  min-width: min-content;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem 1rem;

  @media screen and (min-width: $mdlg) {
    background-image: url('../image/content/main-bg.jpg');
    min-height: inherit;
    background-color: $main;
  }

  &__date-wrapper {
    margin-top: 10rem;
    margin-left: 2rem;

    @media screen and (min-width: $mdlg) {
      margin-top: 20rem;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.time-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;

  @media screen and (min-width: $mdlg) {
    min-width: 50rem;
  }

  &__wrapper {
    background-color: $main;
    width: 8rem;
    height: 8rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;

    @media screen and (min-width: $mdlg) {
      width: 11rem;
      height: 11rem;
    }

    .number {
      margin-bottom: -2rem;
      margin-top: 1rem;

      @media screen and (min-width: $mdlg) {
        margin-top: 2rem;
      }
    }
  }
}
