.parthners {
  &__wrapper {
    margin-bottom: 6rem;
  }
  &__head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6rem;

    picture img{
      width: 3.6rem;
      height: 3.6rem;
      flex: none;
      transform: rotate(180deg);
      margin-right: 4rem;

      @media screen and (min-width: $tb) {
        width: 9.6rem;
        height: 9.6rem;
      }
    }
  }
  &__logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    justify-content: center;

    background: linear-gradient(
      45deg,white, transparent 1px), linear-gradient(
      90deg, white, transparent 1px);
    background-size: 32.5rem 10.1rem;
    background: linear-gradient(#fff,transparent 1px),linear-gradient(
      90deg,#fff,transparent 1px);
    background-size: 54% 12.9rem;
    background-position: 92vw 19rem;
    gap: 4rem;

    @media screen and (min-width: $md) {
      grid-template-columns: repeat(3, 1fr);
      background-size: 34% 12rem;
      background-position: 51% 32rem;
    }

    @media screen and (min-width: $lg) {
      background-size: 34% 15.9rem;
      background-position: 51% 42.5rem;
    }

    @media screen and (min-width: $tb) {
      grid-template-columns: repeat(4, 1fr);
      background-size: 26% 17.9rem;
      background-position: 32% 48.5rem;
      gap: 6rem;
    }

    @media screen and (min-width: $ds) {
    }
  }

  &__logo {
    width: min-content;
    min-width: 25%;
    justify-self: center;

    @media screen and (min-width: $ds) {
        width: 20rem;
        height: 10rem;
    }

    picture img{
      width: 10rem;
      height: 7rem;
      flex: none;
      object-fit: contain;

      @media screen and (min-width: $lg) {
        width: 15rem;
        height: 10rem;
      }

      @media screen and (min-width: $ds) {
        width: 20rem;
        height: 10rem;
      }
    }
  }
}
