.productsSlider {
    margin-bottom: 5rem;

    &__wrapper{
        display: flex;
        justify-content: center;

    }

    &__slider-wrapper{

    }

    &__slide-wrapper{
        display: grid;
        justify-items: center;
        position: relative;
        width: 30rem;
        height: max-content;

        @media screen and (min-width: $md) {
            width: 35rem;
        }

        @media screen and (min-width: $lg) {
            width: 50rem;
        }

        @media screen and (min-width: $tb) {
            width: 72rem;
            display: flex;
            justify-content: center;
        }

        @media screen and (min-width: $ds) {
            width: 98rem;
        }

        @media screen and (min-width: $exlg) {
            width: 136rem;
        }
    }

    &__slide{
        animation-duration: 1s;
        animation-name: slide;
    }

    &__slide-description{
        flex-basis: 14rem;
        word-break: break-word;
        overflow: auto;
        height: max-content;
        padding-right: 0.5rem;

        &::-webkit-scrollbar {
            width: 7px;
            background-color: $btn-primary;
            border-radius: 50%;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: 10px 3px 9px -3px rgba(226, 201, 244, 0.95);
            -moz-box-shadow: 10px 3px 9px -3px rgba(226, 201, 244, 0.95);
            box-shadow: 10px 3px 9px -3px rgba(226, 201, 244, 0.95);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 50%;
            background-color: $btn-primary1;
        }

        .f-sr{
            display: none;

            @media screen and (min-width: $ds) {
                display: block;
            }
        }

        .min{
            display: block;

            @media screen and (min-width: $ds) {
                display: none;
            }
        }

        h2,p{
            padding-right: 0.5rem;
        }

        @media screen and (min-width: $md) {
            flex-basis: 14rem;
        }

        @media screen and (min-width: $lg) {
            flex-basis: 25rem;
        }

        @media screen and (min-width: $tb) {
            flex-basis: 35rem;
        }

        @media screen and (min-width: $ds) {
            flex-basis: 50rem;
        }

        @media screen and (min-width: $exlg) {
            flex-basis: 60rem;
        }

    }

    &__img-wrapper{
        width: 100%;
        position: relative;

        img{
            width: 100%;
            height: 30rem;
            object-fit: contain;

            @media screen and (min-width: $tb) {
                width: 40rem;
                height: 40rem;
            }

            @media screen and (min-width: $ds) {
                width: 55rem;
                height: 60rem;
            }

            @media screen and (min-width: $exlg) {
                width: 60rem;
            }
        }

        @media screen and (min-width: $tb) {
            width: 40rem;
            height: 40rem;
        }

        @media screen and (min-width: $ds) {
            width: 55rem;
            height: 60rem;
        }

        @media screen and (min-width: $exlg) {
            width: 60rem;
        }
    }

    &__button-prev, &__button-next{
        width: 2rem;
        height: 2rem;
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        bottom: -2rem;
        background-repeat: no-repeat;
        background-size: 1rem;
        opacity: 0.7;
        cursor: pointer;

        &:hover{
            opacity: 1;
        }

        @media screen and (min-width: $tb) {
            width: 5rem;
            height: 5rem;
            background-size: 4rem;
          }
    }

    &__button-prev{
        right: 20rem;
        background-image: url(../image/icons/arrowBack.svg);
        background-position: 0.4rem;

        @media screen and (min-width: $lg) {
            right: 28rem;
        }

        @media screen and (min-width: $tb) {
            right: 50rem;
            background-position: 0;
        }

        @media screen and (min-width: $exlg) {
            right: 70rem;
        }
    }

    &__button-next{
        left: 20rem;
        background-image: url(../image/icons/arrowNext.svg);
        background-position: 0.6rem;

        @media screen and (min-width: $lg) {
            left: 28rem;
        }

        @media screen and (min-width: $tb) {
            left: 50rem;
            background-position: 0.8rem;
        }

        @media screen and (min-width: $exlg) {
            left: 70rem;
        }
    }

    &__cost {
        display: grid;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        background: linear-gradient(to bottom right, $primary1, $primary2);
        border-radius: 1rem;
        padding: 1rem;

        .sellerNew {
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        .seller {
            font-size: 1.6rem;
            text-decoration: line-through;
            opacity: 0.7;
        }

        button{
            background: transparent;
            color: $white;
            font-size: 1.4rem;
        }

        .different {
            position: absolute;
            top: -2rem;
            right: -2rem;
            width: 4rem;
            height: 4rem;
            display: flex;
            border-radius: 50%;
            background-color: $tomato;
            align-items: center;
            justify-content: center;
            font-weight: 600;
        }
    }
}

@keyframes slide {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}
