.profession {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__quality {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;

    @media screen and (min-width: $tb) {
      margin-bottom: 12rem;
    }

  }
  &__things {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
    flex-wrap: wrap;


    @media screen and (min-width: $tb) {
      margin-bottom: 10rem;
    }
  }
  &__thing {
    text-align: center;
    width: min-content;
    min-width: 30rem;
    margin-bottom: 2rem;

    @media screen and (min-width: $tb) {
      margin-bottom: 0;
    }

    svg {
      width: 5rem;
      height: 5rem;

      @media screen and (min-width: $tb) {
        width: 9rem;
        height: 9rem;
      }

      @media screen and (min-width: $tb) {
        width: 10rem;
        height: 10rem;
      }
    }

    @media screen and (min-width: $tb) {
      min-width: 32rem;
    }

    .f-vsrg {
      line-height: 1.6;
    }
  }
}
