.speakers {
  margin-bottom: 0;

  @media screen and (min-width: $tb) {
    margin-bottom: 16rem;
  }
  &__wrapper {
  }

  &__head {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 7.6rem;
    align-items: center;

    picture img{
      flex: none;
      transform: rotate(315deg);
      margin-right: 4rem;
      width: 3.6rem;
      height: 3.6rem;
      margin-left: 1rem;

      @media screen and (min-width: $tb) {
        width: 9.6rem;
        height: 9.6rem;
      }
    }
  }

  &__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
