.statistic {
  margin-bottom: 0;

  @media screen and (min-width: $tb) {
    margin-bottom: 4.5rem;
  }
  &__wrapper {
    display: grid;
  }

  &__product {
    position: relative;
    display: flex;
    justify-content: flex-start;
    min-width: 100%;
    align-items: center;

    picture {
      flex: none;
      padding-right: 5rem;

      img {
        width: 3.6rem;
        height: 3.6rem;
        @media screen and (min-width: $tb) {
          width: 9.6rem;
          height: 9.6rem;
        }
      }
    }
  }

  &__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    flex-direction: column;

    @media screen and (min-width: $tb) {
      flex-direction: row;
      margin-bottom: 5rem;
    }

  }

  &__progress-wrapper {
    height: 2rem;
    display: flex;
    align-items: center;

    .progress-bar{
      margin: 0;
      display: block;

      @media screen and (min-width: $tb) {
        display: none;
      }
    }

    .one {
      height: 8rem;
    }

    .two {
      height: 6rem;
    }

    .three {
      height: 3rem;
    }

    .four {
      height: 1rem;
    }

    @media screen and (min-width: $tb) {
      height: 8rem;
    }
  }

  &__progress-wrapper.one {
    .progress-bar__value {
      width: 100%;
    }
  }

  &__progress-wrapper.two {
    .progress-bar__value {
      width: 75%;
    }
  }

  &__progress-wrapper.three {
    .progress-bar__value {
      width: 30%;
    }
  }

  &__progress-wrapper.four {
    .progress-bar__value {
      width: 10%;
    }
  }



  &__result {
    min-height: 20rem;
    align-self: baseline;

    .f-vsrg {
      line-height: 1.6;
      align-self: flex-end;
      width: 90%;
    }

    @media screen and (min-width: $tb) {
      min-height: 26rem;
    }
  }

  &__progress-bar {
    min-width: 100%;
    background: linear-gradient(to bottom right, $btn-primary, $btn-primary1);
    display: none;

    @media screen and (min-width: $tb) {
      display: block;
    }
  }
}
