.success {
  background-color: $main;
  margin-bottom: -2rem;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4rem;
    padding-bottom: 4.5rem;
    padding-top: 2rem;

    @media screen and (min-width: $lg) {
      justify-content: space-between;
    }

    @media screen and (min-width: $ds) {
      padding: 0 4rem;
    }

    @media screen and (min-width: $mdlg2) {
      display: flex;
      align-items: center;
      margin-top: -3.5rem;
    }
  }
 }

.static {
  display: grid;
}

.static-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 25rem;
}

.progress-bar {
  min-width:  100%;
  margin: 0 auto;
  margin-top: 2.5rem;

  @media screen and (min-width: $ds) {
    min-width:  30%;
    margin: 0;
  }

  &__wrapper {
    background-color: $white;
    min-width: 100%;
    height: 0.6rem;
    position: relative;
  }
  &__value {
    background: linear-gradient(to bottom right, $btn-secondary, $btn-secondary1);
    width:  4%;
    height: 0.6rem;
    margin-bottom: 1rem;

    span {
      position: absolute;
      top: -2.5rem;

      &:nth-child(2) {
        left: 20rem;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
