.tabs__text {
  font-size: 2.2rem;
  color: orange;
}

.f-bbw {
  font-weight: 700;
  font-size: 6.4rem;
  color: $white;
}

.f-mb {
  font-size: 3.6rem;
  font-weight: 700;
}

.f-sbw {
  font-weight: 700;
  color: $white;
}

.f-srg {
  color: $txt_sub;
  font-size: 1.6rem;
  font-weight: 400;
}

