.tabs__text {
  font-size: 2.2rem;
  color: orange;
}

.f-vbbw {
  font-weight: 700;
  font-size: 6.4rem;
  color: $white;
}

.f-bb {
  font-size: 4.8rem;
  font-weight: 700;
}


.f-mb {
  font-size: 3.6rem;
  font-weight: 700;
}

.f-mbm {
  font-size: 2.4rem;
  font-weight: 500;
}

.f-sbw {
  font-weight: 700;
  color: $white;
}

.f-srg {
  color: $txt_sub;
  font-size: 1.6rem;
  font-weight: 400;
}

.f-vsrg {
  color: $txt_sub;
  font-size: 1.4rem;
  font-weight: 400;
}

.f-sr {
  font-size: 1.8rem;
  font-weight: 400;
}

.f-srs {
  font-size: 1.6rem;
  font-weight: 400;
}
