.js-overlay-burger {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  opacity: 0.5;
  background-color: $black;
  top: 0;
  left: 0;
}

.menu {
  display: block;
  cursor: pointer;

  &__wrapper {
    min-width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 2rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__burger {
    width: 3rem;
    height: 0.2rem;
    background-color: violet;
    z-index: 102;
    position: fixed;
    top: 5rem;
    left: 15rem;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      width: 3rem;
      height: 0.2rem;
      background-color: violet;
      bottom: 1rem;
    }

    &:before {
      content: '';
      position: absolute;
      width: 3rem;
      height: 0.2rem;
      background-color: violet;
      bottom: 2rem;
    }
  }

  &__burger-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;

    position: fixed;
    z-index: 101;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;
  }

  &__burger-btn {
    width: 5rem;
    height: 5rem;
    z-index: 102;
    position: fixed;
    top: 3rem;
    left: 15rem;
  }

  button {
    display: block;
    width: 5rem;
    height: 5rem;
    padding: 0;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      flex: none;
    }

    @media screen and (min-width: $mdlg) {
      display: none;
    }
  }

  @media screen and (min-width: $mdlg) {
    display: none;
  }

  &__nav-wrapper {
    position: relative;
    display: grid;
  }
  &__nav {
    display: none;
  }
  &__nav.active{

  }
}

.active {
  display: block;
}

.sign {
  button:first-child {
    display: none;

    @media screen and (min-width: $mdlg) {
      display: block;
    }
  }
}

.logo-m {
  display: block;

    @media screen and (min-width: $mdlg) {
      display: none;
    }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $tb) {
      min-width: 65rem;
    }

    @media screen and (min-width: $exlg) {
      min-width: 80rem;
    }
  }

  &__item {

  }

  &__link {
    color: $white;
    text-decoration: none;
    padding-bottom: 1rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 2.5rem;
      width: 0;
      height: 0.2rem;
      background: $btn-primary;
      transition: width .3s;
    }

    &:hover {
      &::after {
        width: 100%;
        transition: 0.3s ease-in-out;
      }
    }
  }

  &__burger-logo{
    display: block;

    @media screen and (min-width: $mdlg) {
      display: none;
    }
  }
}


.main-nav {
  display: none;

  @media screen and (min-width: $mdlg) {
    display: block;
  }
}
