form(action="", method="get").form-footer
  .form-footer__email-wrapper
    input(type="email" placeholder="E-mail" maxlength="20" name="email" required).form-footer__email
    button(type="sumbit").btn-form.btn
      span.btn-form__tb Подписаться
      span.btn-form__sm +
