template(id="sing-Up")
  form(action="" method="GET")
    fieldset
      legend Зарегистрироваться
        label(for="avatar") Аватар
        input(type="file" name="avatar" id="avatar")

        label(for="user-name") Ваше полное имя
        input(type="text" name="user-name" id="user-name")

        label(for="user-date") Дата рождения
        input(type="number" name="user-date" id="user-date")

        label(for="login") Логин
        input(type="text" name="login" id="login")

        label(for="email") E-mail
        input(type="email" name="email" id="email")

        label(for="password") Пароль
        input(type="password" name="password" id="password")

        label(for="password") Повторите пароль
        input(type="password" name="check-password" id="check-password")
