template(id="sign-entrance")
  .profile__wrapper
    .profile__buttons
      button(type="button" id="signIn") Войти
      button(type="button" id="signUp") Зарегистрироваться
      button(type="button" id="closeSign") Закрыть
        .sign-up
          .sign-up__wrapper
            .sign-up__heading Войти как
            .sign-up__body
              .sign-up__google
