template(id="sing-entrance")
  .profile
    .profile__wrapper
      .profile__buttons
        button(type="button" id="singIn") Войти
        button(type="button" id="signUp") Зарегистрироваться
          .sign-up
            .sign-up__wrapper
              .sign-up__heading Войти как
              .sign-up__body
                .sign-up__google
