// breakpoints
$sm: 320px;
$md: 375px;
$lg: 575px;
$tb: 768px;
$ds: 1024px;
$exlg: 1440px;

// colors
$black: black;
$white: white;

$main: #121212;
$btn-primary: #C89AFC;
$btn-primary1: #7C6AFA;
$txt_sub: #717171;
$btn-secondary:#DF5950;
$btn-secondary1: #451046;
