// breakpoints
$sm: 320px;
$md: 425px;
$lg: 575px;
$tb: 768px;
$ds: 1024px;
$mdlg: 1140px;
$mdlg2:1340px;
$exlg: 1440px;
$hd: 1900px;

// colors
$black: black;
$white: white;
$tomato: tomato;

$main: #121212;
$bg: rgba(217, 217, 217, 0.1);;
$btn-primary: #C89AFC;
$btn-primary1: #7C6AFA;

$primary1:rgba(200, 154, 252, 0.2);
$primary2:rgba(124, 106, 250, 1);;


$txt_sub: #717171;

$btn-secondary:#DF5950;
$btn-secondary1: #451046;
$btn-secondary2:blueviolet;

$popup: rebeccapurple;

$bg-line:#4C4C4C;
$bg-input-form: rgba(64, 64, 64, 0.5);
