.speaker
  .speaker__wrapper
    picture
      source(media="(min-width:320px)" srcset="image/content/speaker-2.webp")
      source(media="(min-width:320px)" srcset="image/content/speaker-2.png")
      img(src="image/content/speaker-2.png" alt="Преподаватель Дмитрий Иванов, специалист по видеокартам")
    h2.f-mbm Дмитрий Иванов
    p.f-srs Специалист по видеокартам
    button(type="button").btn-speaker.f-srs Биография

